In [26]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"C:\Users\USER\OneDrive\Documents\startup_funding.csv")
df

,Sr No,Date ddmmyyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investorsxe2x80x99 Name,InvestmentnType,Amount in USD,Remarks
0,0,05/09/2019,FPL Technologies,FinTech,Financial Services,Pune,"Matrix Partners India, Sequoia India",Maiden Round,"4,500,000",NaN
1,1,04/09/2019,Cashflo,FinTech,Invoice discounting platform and SME lending m...,Mumbai,SAIF Partners,Series A,"3,300,000",NaN
2,2,04/09/2019,Digital F5,"Advertising, Marketing",Digital marketing firm,Mumbai,TIW Private Equity,Private Equity Round,"6,000,000",NaN
3,3,04/09/2019,3rdFlix,SaaS,Education Technology,Hyderabad,Exfinity Venture Partners,pre-series A,"5,000,000",NaN
4,4,04/09/2019,75F,IoT,Building automation system,Burnsville,Breakthrough Energy Ventures,Series A,"18,000,000",NaN
...,...,...,...,...,...,...,...,...,...,...
3004,3053,29/01/2015,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,"4,500,000",NaN
3005,3054,29/01/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,"825,000",Govt backed VC Fund
3006,3055,30/01/2015,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,"1,500,000",NaN
3007,3056,30/01/2015,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN,"Strategic Funding, Minority stake"
3008,3057,31/01/2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,"140,000",NaN

In [27]:
df.shape

(3009, 10)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3009 entries, 0 to 3008
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Sr No                    3009 non-null   int64
 1   Date ddmmyyyy            3009 non-null   object
 2   Startup Name             3009 non-null   object
 3   Industry Vertical        2838 non-null   object
 4   SubVertical              2073 non-null   object
 5   City  Location           2829 non-null   object
 6   Investorsxe2x80x99 Name  2986 non-null   object
 7   InvestmentnType          3006 non-null   object
 8   Amount in USD            2049 non-null   object
 9   Remarks                  419 non-null    object
dtypes: int64(1), object(9)
memory usage: 235.2+ KB

In [29]:
df.describe()

             Sr No
count  3009.000000
mean   1526.737454
std     884.509003
min       0.000000
25%     756.000000
50%    1530.000000
75%    2292.000000
max    3057.000000

In [30]:
df.dtypes

Sr No                       int64
Date ddmmyyyy              object
Startup Name               object
Industry Vertical          object
SubVertical                object
City  Location             object
Investorsxe2x80x99 Name    object
InvestmentnType            object
Amount in USD              object
Remarks                    object
dtype: object

I renamed the mispelled columns

In [31]:
df=df.rename(columns={"Investorsxe2x80x99 Name":"Investors Name"})

In [32]:
df=df.rename(columns={"InvestmentnType":"Investment Type"})

I brought out the values in the column to know whether i should drop or replace it

In [33]:
df["Remarks"].unique()

array([nan, 'Pre-Series A', 'Series B', 'Series A', 'Series C',
       'Strategic Funding', 'Yet to Launch platform',
       'Series B (includes Debt financing)',
       'part of $40M Series B round',
       'Additional investment from parent company', 'pre-Series A',
       'Strategic Investment', 'Additional Funding', 'Yet to Launch',
       'Bridge funding', 'Funding happened in Sept 2015',
       'Pre-Series A Bridge', '2nd seed funding',
       'Series F ( More Details Here)', 'Late Stage',
       'Pre-Series A bridge round', 'Pre-Series A Bridge round',
       'Bridge Round', 'Strategic Funding (Series C)', 'Bridge Funding',
       'Strategic Investment (Majority Stake)',
       'Part of Series A raised in June 2015', 'Series D',
       'Part of $12M Series B funding', 'thru Accelerator',
       'late Stage (part of $500M funding rnd)',
       'Late Stage (Alibaba @ 40% equity)', 'Super angel round',
       'Late Stage Round 7th (More details)', 'pre Series-A',
       'Pre Series-A', 'QPrize Contest Winners', 'pre series A',
       'pre-series A', 'Personal Investment', 'Series C\\\\n(More here)',
       '\\\\xc2\\\\xa0Series B', '\\\\xc2\\\\xa0Late Stage',
       '\\\\xc2\\\\xa0Series A', 'Follow on Funding', 'No confirmation',
       'Bridge round', 'Late Stage, 10th Round More here',
       'additional funding round', 'Bridge Round Pre-Series B',
       'Pre-Series Bridge', '1% stake', 'Series B Interim Funding',
       'Series G (Check prev funding details here)',
       'Series D ( In Feb it was announced they raised 26M, but it is 36M, so added here)',
       'Series E (Updated from 315M to 400M after Press Release)',
       'Series E', 'More details', 'Minority stake, Strategic',
       'Incremental Capital', 'Series B (More Here)',
       'At the 10 minute million event', 'For mobile app',
       'Strategic Investment (25% stake)', 'Promoter Commitment',
       'Grant + Seed funding', 'Valuation at $4M', '3rd Round',
       'More Details', 'To fund edu startups', 'Majority Stake',
       'Govt backed VC Fund', 'Strategic Funding, Minority stake'],
      dtype=object)

Changed the data type to an integer

In [34]:
df["Amount in USD"] = pd.to_numeric(df["Amount in USD"], errors="coerce").fillna(0).astype(int)

Checked for null values

In [35]:
df.dtypes

Sr No                 int64
Date ddmmyyyy        object
Startup Name         object
Industry Vertical    object
SubVertical          object
City  Location       object
Investors Name       object
Investment Type      object
Amount in USD         int32
Remarks              object
dtype: object

In [36]:
df.isnull().sum()

Sr No                   0
Date ddmmyyyy           0
Startup Name            0
Industry Vertical     171
SubVertical           936
City  Location        180
Investors Name         23
Investment Type         3
Amount in USD           0
Remarks              2590
dtype: int64

In [37]:
df.drop(columns=["Remarks","SubVertical"], inplace=True)

In [38]:
df.columns

Index(['Sr No', 'Date ddmmyyyy', 'Startup Name', 'Industry Vertical',
       'City  Location', 'Investors Name', 'Investment Type', 'Amount in USD'],
      dtype='object')

In [39]:
df["Industry Vertical"] = df["Industry Vertical"].fillna(df["Industry Vertical"].mode()[0])

In [40]:
df["City  Location"] = df["City  Location"].fillna(df["City  Location"].mode()[0])

In [41]:
df["Investors Name"] = df["Investors Name"].fillna(df["Investors Name"].mode()[0])

In [42]:
df["Investment Type"] = df["Investment Type"].fillna(df["Investment Type"].mode()[0])

In [43]:
df.isnull().sum()*100/len(df)

Sr No                0.0
Date ddmmyyyy        0.0
Startup Name         0.0
Industry Vertical    0.0
City  Location       0.0
Investors Name       0.0
Investment Type      0.0
Amount in USD        0.0
dtype: float64

In [44]:
df.duplicated().sum()

0

In [45]:
def detect_outliers_iqr(data):
    Q1 = np.percentile(data, 25)
    Q3 = np.percentile(data, 75)
    IQR = Q3-Q1
    lower_limit = Q1 - 1.5*IQR
    upper_limit = Q3 + 1.5*IQR
    outliers = []
    for i in data:
       if outliers:  
        print(f"Outliers: {outliers}")
    else:  
        print("No outliers for this column")
            
detect_outliers_iqr(df["Amount in USD"])

No outliers for this column

Auto Cleaning of the same dataset

In [50]:
df_clean = pd.read_csv(r"C:\Users\USER\OneDrive\Documents\startup_funding.csv")
df_clean

,Sr No,Date ddmmyyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investorsxe2x80x99 Name,InvestmentnType,Amount in USD,Remarks
0,0,05/09/2019,FPL Technologies,FinTech,Financial Services,Pune,"Matrix Partners India, Sequoia India",Maiden Round,"4,500,000",NaN
1,1,04/09/2019,Cashflo,FinTech,Invoice discounting platform and SME lending m...,Mumbai,SAIF Partners,Series A,"3,300,000",NaN
2,2,04/09/2019,Digital F5,"Advertising, Marketing",Digital marketing firm,Mumbai,TIW Private Equity,Private Equity Round,"6,000,000",NaN
3,3,04/09/2019,3rdFlix,SaaS,Education Technology,Hyderabad,Exfinity Venture Partners,pre-series A,"5,000,000",NaN
4,4,04/09/2019,75F,IoT,Building automation system,Burnsville,Breakthrough Energy Ventures,Series A,"18,000,000",NaN
...,...,...,...,...,...,...,...,...,...,...
3004,3053,29/01/2015,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,"4,500,000",NaN
3005,3054,29/01/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,"825,000",Govt backed VC Fund
3006,3055,30/01/2015,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,"1,500,000",NaN
3007,3056,30/01/2015,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN,"Strategic Funding, Minority stake"
3008,3057,31/01/2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,"140,000",NaN

In [ ]:
from AutoClean import AutoClean

In [51]:
pipeline = AutoClean(df_clean, mode='auto', duplicates=False, missing_num='auto', missing_categ=False, 
          encode_categ=False, extract_datetime=False, outliers=False,logfile=True, verbose=False)

AutoClean process completed in 0.933143 seconds
Logfile saved to: C:\Users\USER\autoclean.log

In [53]:
pipeline.output

,Sr No,Date ddmmyyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investorsxe2x80x99 Name,InvestmentnType,Amount in USD,Remarks
0,0,05/09/2019,FPL Technologies,FinTech,Financial Services,Pune,"Matrix Partners India, Sequoia India",Maiden Round,"4,500,000",Strategic Investment
1,1,04/09/2019,Cashflo,FinTech,Invoice discounting platform and SME lending m...,Mumbai,SAIF Partners,Series A,"3,300,000",Strategic Investment
2,2,04/09/2019,Digital F5,"Advertising, Marketing",Digital marketing firm,Mumbai,TIW Private Equity,Private Equity Round,"6,000,000",Strategic Investment
3,3,04/09/2019,3rdFlix,SaaS,Education Technology,Hyderabad,Exfinity Venture Partners,pre-series A,"5,000,000",Strategic Investment
4,4,04/09/2019,75F,IoT,Building automation system,Burnsville,Breakthrough Energy Ventures,Series A,"18,000,000",Strategic Investment
...,...,...,...,...,...,...,...,...,...,...
3004,3053,29/01/2015,Printvenue,Hyperlocal\\xc2\\xa0 Grocery Delivery Service,Online freight aggregator,Haryana,Asia Pacific Internet Group,Private Equity,"4,500,000",Strategic Investment
3005,3054,29/01/2015,Graphene,Hyperlocal\\xc2\\xa0 Grocery Delivery Service,Online freight aggregator,Haryana,KARSEMVEN Fund,Private Equity,"825,000",Govt backed VC Fund
3006,3055,30/01/2015,Mad Street Den,Hyperlocal\\xc2\\xa0 Grocery Delivery Service,Online freight aggregator,Haryana,"Exfinity Fund, GrowX Ventures.",Private Equity,"1,500,000",Strategic Investment
3007,3056,30/01/2015,Simplotel,Hyperlocal\\xc2\\xa0 Grocery Delivery Service,Online freight aggregator,Haryana,MakeMyTrip,Private Equity,"9,100,000","Strategic Funding, Minority stake"
3008,3057,31/01/2015,couponmachine.in,Hyperlocal\\xc2\\xa0 Grocery Delivery Service,Online freight aggregator,Haryana,UK based Group of Angel Investors,Seed Funding,"140,000",Strategic Investment